<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  <style>
    body {
      margin: 0;
      font-size: 17px;
      font-family: 'Roboto', sans-serif;
    }

    .initial {
      padding-top: 5em;
    }
    
    .cards-parent-outer-most, .container {
      max-width: 1400px;
      margin: auto;
    }
    .cards-parent {
      display: flex;
      justify-content: space-around;
    }
    .cards {
      text-align: center;
      padding: 3em 2em;
      flex-basis: 30%;
      border: 1px solid #ddd;
    }
    .reading {
      font-size: 4em;
      margin: 0;
    }
    .reading h4 {
      margin-bottom: 0em;
    }
    .date-selectors {
      display: flex;
      list-style-type: none;
      margin: 0; padding: 0;
    }
    .date-selectors li {
      margin-right: 15px;
    }

    .date-selectors a {
      /* color: #36a2eb; */
      color: #444;
      font-size: 18px;
      text-decoration: none;

    }
  </style>
</head>
<body>