<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      margin: 0;
      font-size: 17px;
    }

    .initial {
      padding-top: 5em;
    }
    
    .cards-parent-outer-most, .container {
      max-width: 1400px;
      margin: auto;
    }
    .cards-parent {
      display: flex;
      justify-content: space-around;
    }
    .cards {
      text-align: center;
      padding: 3em 2em;
      flex-basis: 30%;
      border: 1px solid #ddd;
    }
    .reading {
      font-size: 4em;
      margin: 0;
    }
    .reading h4 {
      margin-bottom: 0em;
    }
  </style>
</head>
<body>