<% include ../partials/header %>
<div>
  <a href="https://api.dexcom.com/v2/oauth2/login?client_id=j9WOWYSR9rZCILAuDLpunG0iFmZ31CXO&redirect_uri=http://localhost:5000/code&response_type=code&scope=offline_access">
  Generate Code
  </a>
</div>


<% include ../partials/footer %>

