<% include ../partials/header %>
<div class="container">
    <div>
      <div class="content">
        <h1>Get Started</h1>
        <p>Made by kenny Krosky <a href="https://twitter.com/ispykenny" target="_BLANK" class="twitter">@ispykenny</a> just for fun. Not intended to make any medical decisions. Application has an 8 hour delay. Use at your own risk.</p>
      </div>
      <a class="logout" href="https://api.dexcom.com/v2/oauth2/login?client_id=j9WOWYSR9rZCILAuDLpunG0iFmZ31CXO&redirect_uri=https://dex-hub.herokuapp.com/code&response_type=code&scope=offline_access">
      Get Started
      </a>
    </div>
</div>


<% include ../partials/footer %>

